html {
  min-height: 100%;
  background-image: url("../img/bluebackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.container-home {
  display: flex;
  width: 100%;
  margin: 0;
}

.item-home {
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: 1px; 
  border-color: white; 
  border-style: solid;
  border-radius: 100px;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  width: 100%
  
}
.container-sale {
  display: flex;
  height: 580px;
  width: 100%;
}

.item-sale {
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-sale img {
  width: 33%;
  height: auto;
}

.item + .item {
  margin-left: 2%;
}
.color-white {
  color: white;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:active {
  color: white;
  text-decoration: underline;
}
.smaller-image {
  height: 100px; 
  width: 100px
}


/* Re-order items into rows */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* Force new columns */
.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}