html {
  min-height: 100%;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  text-align: center;
}
.container-home {
  display: flex;
  width: 100%;
  margin: 0;
}

.item-home {
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: 1px; 
  border-color: black; 
  border-style: solid;
  border-radius: 100px;
  text-align: center;
  font-family: lobster;
  font-size: 30px;
  width: 100%
  
}
.container-sale {
  display: flex;
  height: 580px;
  width: 100%;
}

.item-sale {
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-sale img {
  width: 33%;
  height: auto;
}

.item + .item {
  margin-left: 2%;
}
.color-white {
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:active {
  color: white;
  text-decoration: underline;
}
.logo {
  font-size: 30px;
  font-family: pacifico;
  text-align: center;
}